[submodule "third_party/imgui-1.79"]
	path = third_party/imgui-1.79
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/D3D12MemoryAllocator-1.0.0"]
	path = third_party/D3D12MemoryAllocator-1.0.0
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
