[submodule "third_party/imgui-1.79"]
	path = third_party/imgui-1.79
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/D3D12MemoryAllocator-1.0.0"]
	path = third_party/D3D12MemoryAllocator-1.0.0
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "third_party/glm-0.9.9.8"]
	path = third_party/glm-0.9.9.8
	url = https://github.com/g-truc/glm.git
[submodule "third_party/tinyobjloader-2.0-rc1"]
	path = third_party/tinyobjloader-2.0-rc1
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "third_party/tinygltf-2.5.0"]
	path = third_party/tinygltf-2.5.0
	url = https://github.com/syoyo/tinygltf.git
